<div class="container">
     <div class="first-div">
            <h3 class="Heading">Welcome to <br><span class="Unstop">Unstop</span></h3>
     </div> 
     <div style="height: 300px;" class="second-div">
        <div class="second-first-div">
            <img style="border-radius: 50%; height: 80px;  width: 80px; position: relative; left: 60px;" [src]="images" alt="Image">
        </div>
        <div >
            <strong class="title-heading">{{name}}</strong>
        </div>
        <div>
            <p class="sub-title-heading">{{emails}}</p>
        </div>
        <div>
            <p class="sub-sub-title-heading">{{gender}}</p>
        </div>

        <div>
            <button class="logout" (click)="logout()">Logout</button>
        </div>
     </div> 
</div>
